/* You can add global styles to this file, and also import other style files */
body{
  background-color: #8494FF;
  font-family: 'Quicksand';
  margin: 0;
}

.loading-section, .no-results-section{
  display: flex;
  justify-content: center;
}
.loading, .no-results{
  background-color: #C9BEFF;
  box-shadow: 2px 10px 10px #6367FF;
  padding: 20px;
  border-radius: 5px;
  width: 200px;
}


